<p>Hello {{ firstName }} {{lastName}},</p>
<p>Thanks for registering in our E-commerce-shop</p>
<p>Please click below to confirm and activate your account</p>
<p>
  <a href="{{ url }}">Confirm</a>
</p>
<p>If you did not request this email you can safely ignore it.</p>
